@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.page-background {
  background-color: #f6f9fc;
}

.info-text {
    color: #8A8A8A;
}

.btn-color {
    background-color:5E72E4;
}

.box-content {
  max-height:500px;
}